.client-img{
    height: 55px;
    width: 55px;
    border-radius: 50%; 
}

.icon-div{
    height: 40px;
    width: 40px;
    border-radius: 50%; 
    background-color: rgb(209, 49, 49);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}